{% extends "/main/homepaciente.html" %}
{% block body %}
<div class="queso">
    <div class="card1">
        <h3 class="title">Frachesco Virgollini </h3>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
        <div class="circle">

        </div>
    </div>
    <br>
    <div class="card1">
        <h3 class="title">Edna Moda</h3>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
        <div class="circle">

        </div>
    </div>
<br>
    <div class="card1">
        <h3 class="title">Carter Jhonsons</h3>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
        <div class="circle">

        </div>
    </div>
<br>
    <div class="card1">
        <h3 class="title">Natalia Ponce</h3>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>
        <div class="circle">

        </div>
    </div>
<br>
</div>
{% endblock %}