<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/misdatos.css">
    <title></title>
  </head>

  <body> 
{% extends "/main/homepaciente.html" %}
 {% block body %} <div
      class="info">
      <a class="titulo">Datos basicos</a><br>
      <a class="subs">Nombre:</a><br>
      <a class="datos"></a>
      <a class="subs">apellido:</a><br>
      <a class="datos"></a>
      <a class="subs">Documento:</a><br>
      <a class="datos"></a>
      <a class="subs">Fecha de nacimiento:</a><br>
      <a class="datos"></a>
      <a class="titulo">Datos De contacto</a><br>
      <a class="subs">Correo:</a><br>
      <a class="datos"></a>
      <a class="subs">Departamento:</a><br>
      <a class="datos"></a>
      <a class="subs">Dirección:</a><br>
      <a class="datos"></a>
      <a class="subs">Municipio:</a><br>
      <a class="datos"></a>
      <a class="subs">Teléfono:</a><br>
      <a class="datos"></a>
    </div>
 {% endblock %} </body>

</html>